[submodule "source/WindowsAPI"]
	path = Build/WindowsAPI
	url = https://github.com/AndrejMitrovic/WindowsAPI.git
[submodule "source/libX11"]
	path = Build/libX11
	url = https://github.com/D-Programming-Deimos/libX11.git
